<h2>Register</h2>

<%=
  form_for :user, '/users' do
    div class: 'name' do
      label      :name
      text_field :name
    end

    div class: 'password' do
      label          :password
      password_field :password
    end

    div class: 'controls' do
      submit 'Register'
    end
  end
%>
